<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to expressjs</h1>
    <table border="1" width="25">
        <tr>
            <td>id</td>
            <td>name</td>
            <td>subject</td>
        </tr>
        <%student.map((e,i)=>{%>
            <tr>
                <td><%=e.id%></td>
                <td><%=e.name%></td>
                <td><%=e.subject%></td>
            </tr>
        <%})%>
    </table>
</body>
</html>