<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SeoDash Free Bootstrap Admin Template by Adminmart</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/seodashlogo.png" />
    <link rel="stylesheet" href="../assets/css/styles.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <%- include("aside")%>
            <!--  Sidebar End -->
            <!--  Main wrapper -->
            <div class="body-wrapper">
                <!--  Header Start -->
                <%- include("header")%>
                    <!--  Header End -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <form class="form-horizontal" action="/addData" method="post"
                                        enctype="multipart/form-data">
                                        <div class="card-body">
                                            <h4 class="card-title">Personal Info</h4>
                                            <div class="form-group row">
                                                <label for="fname"
                                                    class="col-sm-3 text-right control-label col-form-label">Profile
                                                    Picture</label>
                                                <div class="col-sm-9">
                                                    <input type="file" name="image" class="form-control" id="image"
                                                        placeholder="Profile Picture Here" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="fname"
                                                    class="col-sm-3 text-right control-label col-form-label">First
                                                    Name</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="fname" class="form-control" id="fname"
                                                        placeholder="First Name Here" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="lname"
                                                    class="col-sm-3 text-right control-label col-form-label">Last
                                                    Name</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="lname" class="form-control" id="lname"
                                                        placeholder="Last Name Here" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="lname"
                                                    class="col-sm-3 text-right control-label col-form-label">Last
                                                    Name</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="email" class="form-control" id="email"
                                                        placeholder="Email Name Here" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="lname"
                                                    class="col-sm-3 text-right control-label col-form-label">Password</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group" style="position: relative;">
                                                        <input type="password" name="password" class="form-control"
                                                            id="password" placeholder="Password Here" required>
                                                        <div class="input-group-append"
                                                            style="position: absolute; left: 340px; top: 0px;">
                                                            <button type="button" class="btn" id="togglePassword">
                                                                <i class="fa-regular fa-eye" id="toggleIcon"
                                                                    style="font-size: 14px;"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="cono1"
                                                    class="col-sm-3 text-right control-label col-form-label">Contact
                                                    No.</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="contact" class="form-control" id="contact"
                                                        placeholder="Contact No. Here" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label
                                                    class="col-sm-3 text-right control-label col-form-label">Gender</label>
                                                <div class="col-md-9">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input"
                                                            id="customControlValidation1" name="radio" value="Male"
                                                            required>
                                                        <label class="custom-control-label"
                                                            for="customControlValidation1">Male</label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input"
                                                            id="customControlValidation2" name="radio" value="Female"
                                                            required>
                                                        <label class="custom-control-label"
                                                            for="customControlValidation2">Female</label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input"
                                                            id="customControlValidation3" name="radio" value="Other"
                                                            required>
                                                        <label class="custom-control-label"
                                                            for="customControlValidation3">Other</label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="border-top">
                                            <div class="card-body">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="py-6 px-6 text-center">
                                <p class="mb-0 fs-4">Design and Developed by <a href="https://adminmart.com/"
                                        target="_blank"
                                        class="pe-1 text-primary text-decoration-underline">AdminMart.com</a>Distributed
                                    by <a href="https://themewagon.com/" target="_blank"
                                        class="pe-1 text-primary text-decoration-underline">ThemeWagon</a></p>
                            </div>
                        </div>
                    </div>
            </div>
            <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
            <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
            <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
            <script src="../assets/js/sidebarmenu.js"></script>
            <script src="../assets/js/app.min.js"></script>
            <script src="../assets/js/dashboard.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
            <script>
                document.getElementById("togglePassword").addEventListener("click", function () {
                    const passwordField = document.getElementById("password");
                    const toggleIcon = document.getElementById("toggleIcon");
                    if (passwordField.type === "password") {
                        passwordField.type = "text";
                        toggleIcon.classList.remove("fa-eye");
                        toggleIcon.classList.add("fa-eye-slash");
                    } else {
                        passwordField.type = "password";
                        toggleIcon.classList.remove("fa-eye-slash");
                        toggleIcon.classList.add("fa-eye");
                    }
                });
            </script>
</body>

</html>