<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Data</h1>

    <form action="/updateData" method="post">
        <input type="hidden" name="id" value="<%= singleData.id %>">
        <input type="text" placeholder="Enter Name" name="name" value="<%= singleData.name %>">
        <input type="text" placeholder="Enter Subject" name="subject" value="<%= singleData.subject %>">
        <button type="submit">Update Data</button>
    </form>
</body>
</html>
